README.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### logs ###
/logs/
.DS_Store
/.idea/
/out/
.idea
/ems-showcenter/src/test/java/com/se/ds/ems/showcenter/LocalTest.java
/ems-starter-management/src/test/java/com/se/ds/reprot/LocalTest.java
